# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# Virtual Environment
venv/
env/
ENV/
env_*/

# VS Code
.vscode/
*.code-workspace

# Data files
data/raw/
*.parquet
*.csv

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea/
*.swp
*.swo

# Git
*.orig